/* *Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    color: white;
  }
  
  /* * Separation kısmı html'de oluşturulan boş bir div ile oluşturulur. Amacı bölümleri ayırmaktır. Css'de sadece border komutu tanımlanır ve bölümlerin arasına çizgi çekmek için kullanılır. */
  .separation {
    border: 3px solid rgb(54, 54, 54);
  }
  
  /* *Main */
  
  .main {
    background-image: url(./img/banner.jpg);
    background-position: center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
  
    /* main kapsayıcı olduğundan relative verdik, box'a da aşağıda, kapsam içerisinde yer alan eleman olduğundan ve maindeki fotoyu üzerine yerleşip biraz karartması gerektiğinden position:absolute verir ve bu şekilde davrandık. box'da maini tam kapsayacak boyutta bir tabaka oluşturduk, aslında siyah verecektik fakat fotonun karamış bir şekilde görünmesini istediğimizden rgba ile hafif opaklanmış bir siyah tonu verdik.*/
  }
  
  .box {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 644px;
  }
  
  /* *nav */
  
  .nav {
    position: relative;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    margin: auto;
    height: 100px;
    z-index: 10;
  }
  
  .nav img {
    width: 130px;
  }
  
  .btn {
    padding: 3px 8px;
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .btn:hover {
    background-color: red;
  }
  
  .btn-red {
    background-color: red;
  }
  
  .btn-red:hover {
    background-color: rgba(248, 243, 243, 0.021);
  }
  
  /* Box elemanını main'in üzerine pozisyonladıktan sonra diğer elemanlar alta kaldı.Bunu düzeltebilmek için z-index: vermemiz gerekti.z-index verirken .nav ve .hero kısmına z-index verince bunun çalışmadığını fark ettik.Bunu düzletmek için bu elemanlara ekstra position:relative veridik. */
  
  /* *Hero */
  
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 0 30px;
    z-index: 10;
  
    height: calc(100% - 100px);
  
    /* Yukarıda  height: calc(100%-100px) dememizin nedeni hero kısmını tamamına göre %100 olarak konumlandırmak, fakat yukarıdaki nav'ın 100px lik bölümünün tabanından hesaplıyor. Bundan dolayı hero kısımda bir taşma oluyor ve bizde istediğimiz 100%'ü  height: calc(100%-100px) bu şeklinde */
  }
  
  /*  Hero kısmına height:100% vererek main içerisindeki kalan tüm alanı bu elemana vermek istedik.Fakat bu durumda .nav elemanının sahip olduğu 100px'lik yükseklik nedeniyle istediğimiz sonucu elde edemedik ve hero main'in dışına taştı.Bunu engellemek için hero kısmına  height: calc(100% - 100px); bu komutu verdik.Bu sayede  tüm yüksekliği alırken header'ın 100px ini çıkartıp kalan yüksekliği almış oldu.
  
  */
  
  .hero-title {
    font-size: 48px;
    font-weight: bolder;
  }
  
  .hero-desc {
    font-size: 24px;
    font-weight: 500;
  }
  
  .hero-bottom {
    font-size: 18px;
    font-weight: 500;
  }
  
  .hero-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .hero-buttons input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
    outline: none;
    /* İnputlara tıklanıldığında çıkan border'ı iptal etmek için kullanılır. */
    color: white;
  }
  
  .hero-buttons button {
    padding: 8px 24px;
    font-size: 18px;
  }
  
  /* *Info Area */
  
  .info-area {
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    max-width: 70vw;
  
    margin: auto;
  }
  
  .image-area {
    position: relative;
  }
  
  .image-area img {
    width: 555px;
    position: relative;
    z-index: 10;
  }
  
  .image-area video {
    position: absolute;
    top: 74px;
    right: 55px;
  }
  
  .text-area h1 {
    font-size: 48px;
    font-weight: bolder;
  }
  
  .text-area p {
    font-size: 24px;
    margin-top: 10px;
  }
  
  /* *Faq */
  
  .faq {
    padding: 35px;
  }
  
  faq h2 {
    font-size: 48px;
    text-align: center;
  }
  
  .faqbox {
    background-color: #272727;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    margin: 25px auto;
    cursor: pointer;
    max-width: 60vw;
    transition: all 0.4s;
  }
  
  .faqbox:hover {
    background-color: rgb(23, 23, 23);
  }
  
  /* *Footer */
  
  .footer {
    max-width: 60vw;
    margin: auto;
    margin-bottom: 100px;
  }
  
  .footer .questions {
    font-size: 25px;
    padding: 34px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  
  .footer-container .footer-item {
    display: flex;
    flex-direction: column;
  }
  
  .footer-container .footer-item a {
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
  }
  
  @media (max-width: 1000px) {
    .info-area {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .info-area h1 {
      margin: 25px auto;
    }
  }
  
  @media (max-width: 800px) {
    .info-area h1 {
      font-size: 30px;
      margin-top: 50px;
    }
  
    .info-area p {
      font-size: 20px;
      margin-top: 20px;
    }
  
    .image-area {
      overflow: hidden;
    }
  
    .image-area img {
      width: 100%;
      height: 100%;
      min-height: 325px;
      position: relative;
    }
  
    .image-area video {
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
  }